* {
    font: 20pt;
   
}
a{
    text-decoration: none;    
}
li{
    list-style-type:none
}

.logo {
    width: 150px;
}

form{
    display: flex;
}

.buscador{
    padding: 20px;
    margin-right: 200px; 
    color:#4E5B60;
    }

.barra{
    padding: 15px;
    margin-right: 70px; 
    color:#4E5B60;
}

.buscador{
    height: 20px;
    width: 40px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

.inicio{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 20px;
    height: 20px;
}

.home{
    color: #4E5B60;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    margin: 0 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 15px 30px;
}

body{
    background-color: #CB1C40;
}

h2{
    font-family: 'Anton', sans-serif;
    color: #CB1C40;
    padding-left: 2%;
    border: solid;
    background-color: white;
    text-align: center;
    font-size: 35px;
}

.conteiner{
    display: flex;
    flex-wrap: wrap; 
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
}

.conteiner img{
    width: 220px;
    height: 280px;
    margin: 30px;
    text-align: center;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-family: 'Antonio', sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 19px;
}

h5 {
    font-family: 'Anton', sans-serif;
    font-family: 'Antonio', sans-serif;
    font-size: 30px;
    color: white;
}

.agregar_favoritos {
    font-size: 30px;
    color: white;
    background-color: #CB1C40;
    margin-left: 85%;
}

.ver-recomendaciones {
    font-family: 'Anton', sans-serif;
    font-family: 'Antonio', sans-serif;
    font-size: 20px;
    color: white;
    background-color: #CB1C40;
    margin: 15px;
}

.boton-mostrar-recomendaciones {
    display: flex;
    background-color: white;
    color: #CB1C40;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: auto;
    font-size: 20px;
    font-family: 'Antonio', sans-serif;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-family: 'Antonio', sans-serif;
    text-align: center;
    color: white;
}

h4 {
    font-family: 'Anton', sans-serif;
    font-family: 'Antonio', sans-serif;
    text-decoration:overline;
    text-align: center;
    color: white;
    font-size: 18px;
}

h6{
    font-size: 18px;
    color: white;
    font-family: 'Antonio', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.peliculas{
    display: flex;
    flex-direction: column;
}

.conteiner{
    display: flex;
}

.imagen {
    flex: 0 0 auto;
    margin-bottom: 20px;
}

.imagenmm{
    width: 300px;
    height: 400px;
    margin-top: 60px;
    margin-left: 15px;
}

.info-pelicula {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    
}

.a {
    color: white;
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #CB1C40;
    margin-top: 10px;
}


.linea {
    width: 100%;
    border: none;
    border-top: 1px solid white;
    margin-top: 50px;
}

.paddingtopfooter{
    margin-top: 10px;
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 25px;
}

.logofooter{
    display: flex;
    width: 200px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.lista-pelis {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.display-none {
    display: none;
}

.peli-preview {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.peli-preview-titulo {
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    
}

.peli-preview-poster {
    width: 220px;
}

.boton-mostrar-recomendaciones {
    display: flex;
    background-color: white;
    color: #CB1C40;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: auto;
    font-size: 20px;
    font-family: 'Antonio', sans-serif;
}

@media (max-width: 400px) {

    .inicio {
        flex-direction: column;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        margin: 10px 0;
        text-align: center;
    }

    .barra {
        padding-bottom: 5px;
    }
    
    img.logo {
        max-width: 100%;
        height: auto;
    }

    .home {
        margin: 0px;
        margin-right: 85px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .home h2 {
        font-size: 20px;
        margin: 5px 0;
    }

    .home .container {
        padding: 5px;
    }

    h2 {
        font-family: 'Anton', sans-serif;
        color: #CB1C40;
        text-align: center;
        font-size: 25px;
        margin: 10px 0;
        padding: 5px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
    }

    .caja1 ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .caja1 li {
        margin: 10px;
    }
    
    .caja1 .imagen {
        margin: 10px;
        text-align: center;
    }

    .caja1 img {
        max-width: 100%;
        height: auto;
    }

    h3 {
        text-align: center;
        font-size: 20px;
        margin: 10px 0;
    }

    .peliculas{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cajapeli1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .imagen {
        flex: 0 0 auto;
        margin-bottom: 10px;
    }

    .imagenmm {
        max-width: 100%;
        height: auto;
        margin-top: 10px;
        margin-left: 5px;
    }
    
    .info-pelicula {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    }
}

