* {
    font: 14pt;
  /* header */  
}
a{
    text-decoration: none;    
}
li{
    list-style-type:none
}


.logo {
    width: 150px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

.inicio{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 20px;
    height: 20px;
}


.home{
    color: gray;
    font-size: 18px;
    font-family: sans-serif;
    margin: 0 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 15px 30px;
}

body{
    background-color: white;
}

h2{
    font-family: sans-serif;
    color: gray;
    padding-left: 6%;
    border: solid;
}

